.cart {
    position: fixed;
    inset: 0;
    min-height: 100vh;
    background-color: rgba(63, 74, 87, 0.8);
    z-index: 1000;
    display: flex;
    padding: 50px;
    gap: 10px;
    flex-direction: column;
}


.cart .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001;
    transition: all 0.3s ease
}

.close-btn:hover {
    cursor: pointer;
    transform: scale(1.05)
}

.cart .cart-title h4 {
    color: white;
    text-underline-offset: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5vh;
}

.cart .cart-content .products-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.cart .cart-title {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cart .cart-title h6 {
    font-size: 18px;
}

.cart .products-content .cart-products {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    max-height: 80vh;
    overflow-y: auto;
}

/* scrollbar width */
.cart .products-content .cart-products::-webkit-scrollbar {
    width: 8px
}

/* scrollbar background */
.cart .products-content .cart-products::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
    border-radius: 4px;
}

/* scrollbar thumb (the moving part */
.cart .products-content .cart-products::-webkit-scrollbar-thumb {
    background-color: rgba(0,115,255,0.5);
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,0); /* adds padding inside thumb */
}

.cart .products-content .cart-products::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,115,255,0.8);
}
 
.cart table {
    width: 100%;
    border-collapse: collapse;
    border-left: none;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0 ,0, 0, 0.5);
}

.cart table th {
    background: rgba(85, 150, 230, 0.8);
    color: #fff;
    text-align: left;
    padding: 15px;
    font-size: 16px;
    letter-spacing: 2px;
    border: none;
}

.cart td {
    padding: 14px 16px;
    border-bottom: 2px solid rgb(221, 221, 221, 0.3);
    font-size: 14px;
    color: #fff;
    position: relative;
}

.cart td .delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    transition: all 0.5 ease
}

.cart td .delete-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.cart table th,
.cart table td {
    text-align: left;
    vertical-align: middle;
}

.cart tbody tr {
    color: #fff;
    font-size: 18px;
    background-color: rgba(0, 115, 255, 0.3);
    
}

.cart tbody .price,
.cart tbody .total {
    font-weight: 700;
    color: rgb(255, 255, 0);
}

.cart .products-content .cart-products .product {
    width: 100%;
    gap: 10px;
    background-color: rgba(0, 115, 255, 0.2);
    padding: 15px;
}

.cart .products-content .cart-products .product .product-cell {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart .products-content .cart-products .product .product-cell img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.cart .products-content .cart-products .cart-empty {
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 100%;
    background-color: rgba(0, 115, 255, 0.2);
    padding: 15px;
}

.cart .products-content .cart-products .cart-empty td {
    text-align: center;
}

.cart .cart-content .cart-checkout {
    height: 100%;
    background-color: rgb(235, 231, 231);
    padding: 30px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.cart .cart-content .cart-checkout .title {
    border-bottom: 2px solid rgb(128, 128, 128, 0.3);
    width: 100%;
    /* margin-bottom: 5vh; */
}

.cart .cart-content .cart-checkout .tally {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 2px solid rgb(128, 128, 128, 0.3);
    padding: 20px 0;
}

.cart .cart-content .cart-checkout .tally h5 {
    font-size: 20px;
    font-weight: 700;
}

.cart .cart-content .cart-checkout .tally .tally-item {
    display: flex;
    justify-content: space-between;
}

.cart .tally-total {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.cart .checkout-btn {
    width: 100%;
    color: #fff;
    padding: 20px;
    font-size: 16px;
    background: rgb(8, 8, 255, 0.7);
    transition: all 0.5s ease;
}

.cart .checkout-btn:hover {
    background: rgb(8, 8, 255);
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .cart {
        padding: 20px
    }
    
    .cart .cart-content .products-content {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .cart table th {
        flex-direction: column;
    }
}


