.cart {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 350px;
    background-color: rgba(63, 74, 87, 0.8);
    z-index: 1000;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10vh;
}


.cart .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001;
    transition: all 0.3s ease
}

.close-btn:hover {
    cursor: pointer;
    transform: scale(1.05)
}

.cart h4 {
    color: white;
    text-decoration: underline;
    text-underline-offset: 5px;
}



