.sales-section {
    width: 100%;
    background-color: #e5e9ec;
    padding: 100px 100px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.sales-section * {
  border: 1px solid red;
  color: black !important;
}

.sales-section .model {
    max-width: 400px;
}

.sales-section .model img {
    width: 100%;
    height: auto;
}

.sales-section .sales-section-one {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.sales-section .advert-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.sales-section .advert-text h5 {
    color: #2563eb;
    font-size: 35px;
    margin: 0;
}

.sales-section .advert-text h4 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    color: #0f172a;
    margin: 0;
}


.sales-section .advert-text p {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: #0f172a;
    margin: 0;
}


.sales-section .advert-btn {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 3vh;
}

.sales-section .advert-btn button {
    color: white;
    padding: 10px 30px;
    border-radius: 1px;
    background-color: rgb(8, 8, 255);
    transition: all 0.3s ease;
}

.sales-section .advert-btn .read {
    color: rgb(8, 8, 255);
    background: #fff;
    border: 2px solid rgb(8, 8, 255);
}

.sales-section .advert-btn .read:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgb(8, 8, 255);
}

.sales-section .advert-btn .shop:hover {
    background-color: rgb(27, 27, 196);
}

@media screen and (max-width: 768px) {
    .sales-section {
        background-color: #e5e9ec;
        padding: 50px 10px 20px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column
    }

    .sales-section img {
        display: none;
    }

    .sales-section .advert-text h5 {
        font-size: 20px;
    }

    .sales-section .advert-text h4 {
        font-size: 30px;
    }

    .sales-section .advert-text p {
        font-size: 14px;
    }
}


