.dashboard-page {
    margin-left: 15vw;
    padding: 80px 40px 40px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
}


.dashboard-page .dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}


.dashboard-page .card {
    color: #111827;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.dashboard-page .card.active{
    background-color: #1e293b;
    color: #f8fafc;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}


.dashboard-page .card:hover {
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

.dashboard-page .dashboard-graphs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}