.update-product-modal {
    position: fixed;
    inset: 0;
    z-index: 1000;
    backdrop-filter: blur(12px);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-product-modal .product-form {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.update-product-modal .product-form h6 {
    font-size: 0.85rem;
    /* color: var(--muted); */
    text-transform: uppercase;
    letter-spacing: 1px;
}

.update-product-modal .product-form .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 2;
    transition: all 0.3s ease;
}

.update-product-modal .product-form .close-btn {
    cursor: pointer;
    transform: scale(1.03);
}


.update-product-modal .product-form {
    display: flex;
    align-items: stretch;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 3px solid #2f80ed;
}


.update-product-modal .upload-product-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 3vh;
}


.update-product-modal .upload-product-div .product-input {
    width: 100%;
    /* background-color: red; */
}

.update-product-modal .upload-product-div .product-input input,
.update-product-modal .upload-product-div .product-input textarea {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
}


.update-product-modal .upload-product-div .product-input input:focus,
.update-product-modal .upload-product-div .product-input textarea:focus {
    border: 3px solid #0b6ceb
}


.update-product-modal button {
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #006eff;
    transition: all 0.5s ease-in-out;
}


.update-product-modal button:hover {
    cursor: pointer;
    background-color: #1a5bb1;
}


.update-product-modal img {
    width: 100%;
    height: 15vh;
    object-fit: cover;
    margin-bottom: 10px;
}

