.cart-page {
    margin-left: 15vw;
    padding: 80px 40px 40px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
}

.cart-page .checkout-level {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
}


.cart-page .title {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-page .title-delivery {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cart-page .title-delivery .delivery-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-page .title-delivery .delivery-content input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #4CAF50; /* makes the check green */
  margin-right: 8px;
}



.cart-page .checkout-level .level {
    color: #4d4d4d;
    font-size: 500;
    font-weight: 500;
}


.cart-page .cart-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


.cart-page .cart-products, 
.cart-page .billing {
    background-color: white;
    flex: 1;
    padding: 20px;
    width: 100%;
}

.cart-page .cart-products h4 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cart-page .cart-products .product-items {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 10px;
    max-height: 80vh;
}


.cart-page .cart-products .item {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    border-top: 1px solid #ccc;
}

.cart-page .cart-products .item .cart-prd-description {
    display: flex;
    align-items: center;
    gap: 20px;
}


.cart-page .cart-products .item img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 1px solid #696868;
    transition: all 0.5s ease;
}

.cart-page .cart-products .item img:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.cart-page .cart-products .item .card-actions {
    display: flex;
    align-items: center;
    gap: 3px;
}

.cart-page .cart-products .item .card-actions {
    display: flex;
    align-items: center;
}

.cart-page .cart-products .item .card-actions input {
    width: 40px;
    height: 28px;
    text-align: center;
    padding-left: 0.8vw;
    border: 1px solid #ccc;
    /* border-radius: 6px; */
    background: #f2f2f2;
    pointer-events: none;
}

.cart-page .cart-products .item .card-actions button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease
}

.cart-page .cart-products .item .card-actions button:hover {
    background: #ccc;
}

.cart-page .billing .billing-button {
    width: 100%;
    padding: 12px;
    border: none;
    color: #fff;
    background: #f89b21;
    transition: all 0.5s ease;
}

.cart-page .billing .billing-button:hover {
    cursor: pointer;
    background: #dd820a;
}


