button.edit {
  background-color: #2d9cdb;
  color: white;
}

button.update {
  background-color: #0e98e9;
  color: white;
}

button.update:hover {
  background-color: #1e89c7;
}

button.adjust {
  background-color: #ebb121;
  color: white;
}

button.adjust:hover {
  background-color: #c9991f;
}

button.view {
  background-color: #ebb121;
  color: white;
}

button.view:hover {
  background-color: #c9991f;
}


button.block {
  color: #fff;
  background-color: #2b99ec;
}

button.block:hover {
  background-color: #1e72b3;
}

button.edit:hover {
  background-color: #2380c6;
}

button.delete {
  background-color: #eb5757;
  color: white;
  border: none;
}

button.delete:hover {
  background-color: #c0392b;
}

button {
  padding: 5px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}
