.orders-chart {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}


.orders-chart:hover {
    cursor: pointer;
}


.orders-chart h4 {
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 600;
    color: #111827;   
}


.orders-chart svg,
.orders-chart svg * {
    outline: none;
    cursor: pointer;
}

.orders-chart svg *:focus {
    outline: none;
    box-shadow: none
}

