.settings-page {
    margin-left: 15vw;
    padding: 80px 40px 40px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
}

.settings-page h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

.settings-page div {
    margin-bottom: 24px;
}

.settings-page h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.settings-page input[type="text"] {
    /* border: 1px solid #ccc; */
    padding: 8px;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.settings-page input[type="text"]:focus {
    border: 3px solid #2164cf;
}

.settings-page button {
    border: 1px solid #ccc;
    padding: 8px 12px;
    margin-right: 8px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
}

.settings-page button:last-child {
    margin-right: 0;
}

.settings-page button.save {
    background-color: #2563eb; /* blue */
    color: white;
    border: none;
}

.settings-page label {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 14px;
}

.settings-page input[type="checkbox"] {
    margin-right: 8px;
}
