.view-product-modal {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


.view-product-modal .view-product-card {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 1;
}

.view-product-modal .view-product-card .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 2;
    transition: all 0.3s ease;
}

.view-product-modal .view-product-card .close-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.view-product-modal .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.view-product-modal .header h2 {
    margin: 0;
    font-size: 18px;
}


.view-product-modal .status.active { color: #16a34a; }
.view-product-modal .status.inactive { color: #dc2626; }


.view-product-modal img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    object-fit: cover;
    margin-bottom: 12px;
    transition: all 0.3s ease;
}

.view-product-modal img:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.view-product-modal .borderActive {
    border: 4px solid #16a34a
}

.view-product-modal .borderInactive {
    border: 4px solid #dc2626
}

.view-product-modal .grid {
    display: flex;
    flex-direction: column;
}


.view-product-modal .title {
    display: block;
    font-size: 12px;
    color: #6b7280;
}


.view-product-modal .ai {
    background: #f8fafc;
    border-radius: 8px;
}


.view-product-modal .tags {
    margin-top: 10px
}

.view-product-modal .tag {
    background: #e0e7ff;
    color: #3770a3;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    margin-right: 6px;
}

