.shop-page {
    padding-top: 6vh
}

.shop-page .shop-products {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    margin-top: 5vh;
}

.shop-page .shop-products a {
    text-decoration: none;
    color: #333;
}

