.footer-section {
    width: 100%;
    background: rgb(8, 8, 255);
    color: #fff;
    box-sizing: border-box;
}

.footer-section .footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 100px 50px 100px 50px;
}

.footer-section .footer-logo h4 {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: #fff;
    margin: 0;
    cursor: pointer;
}

.footer-section .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-section .footer-links .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.footer-section .footer-links .links a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-section .footer-links .links a:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: translateY(-2px);
}

.footer-section .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 30px 20px;
    border-top: 1px solid rgb(255, 255, 255, 0.5);
}


@media screen and (max-width: 768px) {
    .footer-section .footer-content {
        padding: 100px 20px 50px 20px;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}